<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOUR TIME!{{else}}You DON'T want to eat that boiga! Save it!{{/if}}
	</button>

	<button class="delete-boiga" data-id="{{this.id}}">DELETE!</button>
</li>
