<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devour}}">
		{{#if devoured}}DEVOUR TIME!{{else}}NO EAT EAT EAT!{{/if}}
	</button>

	<button class="delete-boiga" data-id="{{this.id}}">DELETE!</button>
</li>
